# Archivos de configuración local
local.properties
*.keystore
*.jks
google-services.json

# Archivos de compilación
/build/
.gradle/
.cxx/
.externalNativeBuild/
*.apk
*.aab
output-metadata.json

# Archivos de profiling
*.hprof
*.log

# Archivos de Android Studio e IntelliJ
.idea/
*.iml
.DS_Store

# Archivos específicos de configuración de proyecto
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Capturas y otros generados
captures/
