<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NovaCenterApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/logo_chico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_chico"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovaCenter"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:exported="false" />

        <activity android:name=".ui.cartilla.CartillaActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.turnos.SolicitudTurnoActivity" />
        <activity android:name=".ui.turnos.TurnosActivity" />
    </application>

</manifest>